@media (max-width: 1150px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__col-adress {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .header__text {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer__col-social {
    min-width: 100%;
    margin-top: 30px;
  }
  .footer__inner {
    justify-content: flex-start;
  }
  .footer__col-menu {
    & + & {
      margin-left: 40px;
    }
  }
}

@media (max-width: 840px) {
  .menu__list {
    display: none;
    background-color: $bg;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    li{
      display: block;
      a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $grey;
      }
      &+li{
        margin-left: 0;
        padding-bottom: 30px;
      }
    }
  }
  .menu__btn {
    display: block;
    width: 30px;
    cursor: pointer;
    div {
      background-color: #fff;
      height: 3px;
      & + div {
        margin-top: 5px;
      }
    }
  }
}

@media (max-width: 640px) {
  .notification__box,
  .massage__box {
    display: none;
  }
}

@media (max-width: 540px) {
  .footer__col {
    min-width: 100%;
  }
  .footer__col-menu {
    & + & {
      margin-left: 0px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 520px) {
  .header {
    overflow: hidden;
  }
  .header__btn-menu {
    display: block;
  }
  .header__btn-menu {
    width: 70px;
    height: 70px;
    background-color: $bg;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: #fff;
    }
  }
  .header__box {
    position: absolute;
    transition: all 1s;
    background-color: $grey;
    height: 70px;
    left: 150%;
    right: -100%;
    z-index: 21;
    &.active {
      left: 50px;
      right: 50px;
    }
  }
  .heder__logo {
    margin-left: 60px;
  }
  .menu__btn {
    position: absolute;
    top: 24px;
    div {
      background-color: $bg;
    }
  }

  .header__top-inner {
    height: 70px;
  }
}

@media (max-width: 495px) {
  .user__info {
    display: none;
  }
  .user__images {
    margin-right: 0;
  }
}

@media (max-width: 390px) {
  .header__box {
    &.active {
      left: 47px;
    }
  }
  .basket__box{
    margin-left: 0;
  }
}

@media (min-width: 841px) {
  .menu__list {
    display: block !important;
  }
  
}
